<%= form_for(@classroom_log) do |f| %>
  <% if @classroom_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom_log.errors.count, "error") %> prohibited this classroom_log from being saved:</h2>

      <ul>
      <% @classroom_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :child_id, "Select Child:"%><br />
    <%= f.select :child_id, Child.find(:all , :order => "child_fname, child_lname").collect {|c|
      [(c.child_fname + " " + c.child_lname), c.id]} %>
  </div>
  <div class="field">
    <%= f.label :instructor_id, "Select Instructor:" %><br />
    <%= f.select :instructor_id, Instructor.find(:all , :order => "instructor_fname, instructor_lname").collect {|i|
      [(i.instructor_fname + " " + i.instructor_lname), i.id]} %>
  </div>
  <div class="field">
    <%= f.label :classroom_number, "Select Classroom Number:" %><br />
    <%= f.select :classroom_number, [[101, '101'], [102, '102'], [103, '103'], [104, '104']] %>
  </div>
  <div class="actions">
    <%= f.submit "Submit New Classroom Assignment"%>
  </div>
<% end %>
