<h2>Current Enrollment</h2>

<table>
  <tr>
    <th>
      <b>Child Information:</b>
    </th>
  </tr>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.child_fname %></td>
    <td><%= child.child_lname %></td>
    <td><%= child.age_group %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
    <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Enroll a New Child', new_child_path %> <br />
<%= link_to 'Enter Instructor Information', :controller => 'instructors', :action => 'index' %> <br />
<%= link_to 'Create Course', :controller => 'courses', :action => 'index' %> <br />
<%= link_to 'Create Classroom Log', :controller => 'classroom_logs', :action => 'index' %> <br />
<%= link_to 'Create Course History', :controller => 'course_history_tables', :action => 'index' %> <br />