<p id="notice"><%= notice %></p>

<p>
  <b>Child Information:</b>
</p>

<p>
  <b>First Name:</b>
  <%= @child.child_fname %>
</p>

<p>
  <b>Last Name:</b>
  <%= @child.child_lname %>
</p>

<p>
  <b>Age Group:</b>
  <%= @child.age_group %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
