<h2>Welcome to Jump2Learning Preschool Menu Interface!</h2>
<p><%= @message %></p>
<h3>This is the Jump2Learning Log in Menu Page.</h3>
<p>All users must Log-In to access the user interface.</p>
<h2>Menu</h2>
<%= link_to 'Enroll A Child', :controller => 'children', :action => 'index' %>
<%= link_to 'Enter Instructor Information', :controller => 'instructors', :action => 'index' %>
<%= link_to 'Create Course', :controller => 'courses', :action => 'index' %>
<%= link_to 'Create Classroom Log', :controller => 'classroom_logs', :action => 'index' %>
<%= link_to 'Create Course History', :controller => 'course_history_tables', :action => 'index' %>

