<h2>Current Instructors</h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-mail</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instructors.each do |instructor| %>
  <tr>
    <td><%= instructor.instructor_fname %></td>
    <td><%= instructor.instructor_lname %></td>
    <td><%= instructor.instructor_email %></td>
    <td><%= instructor.instructor_phone %></td>
    <td><%= link_to 'Show', instructor %></td>
    <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
    <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instructor', new_instructor_path %> <br />
<%= link_to 'Enroll A Child', :controller => 'children', :action => 'index' %> <br />
<%= link_to 'Create Course', :controller => 'courses', :action => 'index' %> <br />
<%= link_to 'Create Classroom Log', :controller => 'classroom_logs', :action => 'index' %> <br />
<%= link_to 'Create Course History', :controller => 'course_history_tables', :action => 'index' %> <br />
