<%= form_for(@course_history_table) do |f| %>
    <% if @course_history_table.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course_history_table.errors.count, "error") %> prohibited this course_history_table from being saved:</h2>

          <ul>
            <% @course_history_table.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :instructor_id, "Select Instructor:" %><br />
      <%= f.select :instructor_id, Instructor.find(:all , :order => "instructor_fname, instructor_lname").collect {|i|
        [(i.instructor_fname + " " + i.instructor_lname), i.id]} %>
    </div>
    <div class="field">
      <%= f.label :course_id, "Select Course:" %><br />
      <%= f.select :course_id, Course.find(:all).collect {|c| [(c.course_name), c.id]} %>
    </div>
    <div class="field">
      <%= f.label :course_status, "Course Status:"%><br />
      <%= f.radio_button :course_status, 'Full' %> <%= f.label "course_full", "Full" %> <br />
      <%= f.radio_button :course_status, 'Open' %> <%= f.label "course_open", "Open" %> <br />
    </div>
    <div class="field">
      <%= f.label :child_id, "Select Age Group:" %><br />
      <%= f.select :child_id, [[2, '2'], [3, '3'], [4, '4'], [5, '5']] %>
    </div>
    <div class="actions">
      <%= f.submit "Submit New Course History"%>
    </div>
<% end %>
