<h2>Course History</h2>

<table>
  <tr>
    <th>Instructor Name</th>
    <th>Course Name</th>
    <th>Course Status</th>
    <th>Age Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @course_history_tables.each do |course_history_table| %>
      <tr>
        <td><%= course_history_table.instructor.instructor_fname %> <%= course_history_table.instructor.instructor_lname %></td>
        <td><%= course_history_table.course.course_name %></td>
        <td><%= course_history_table.course_status %></td>
        <td><%= course_history_table.child.age_group %></td>
        <td><%= link_to 'Show', course_history_table %></td>
        <td><%= link_to 'Edit', edit_course_history_table_path(course_history_table) %></td>
        <td><%= link_to 'Destroy', course_history_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Course History', new_course_history_table_path %> <br />
<%= link_to 'Enroll A Child', :controller => 'children', :action => 'index' %> <br />
<%= link_to 'Enter Instructor Information', :controller => 'instructors', :action => 'index' %> <br />
<%= link_to 'Create Course', :controller => 'courses', :action => 'index' %> <br />
<%= link_to 'Create Classroom Log', :controller => 'classroom_logs', :action => 'index' %> <br />

