<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_name, "Enter Course Name:"%><br />
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.label :course_description, "Enter Course Description:" %><br />
    <%= f.text_field :course_description %>
  </div>
  <div class="actions">
    <%= f.submit "Submit New Course"%>
  </div>
<% end %>
