<h2>Current Courses</h2>

<table>
  <tr>
    <th>Course Name</th>
    <th>Course Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.course_name %></td>
    <td><%= course.course_description %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %> <br />
<%= link_to 'Enroll A Child', :controller => 'children', :action => 'index' %> <br />
<%= link_to 'Enter Instructor Information', :controller => 'instructors', :action => 'index' %> <br />
<%= link_to 'Create Classroom Log', :controller => 'classroom_logs', :action => 'index' %> <br />
<%= link_to 'Create Course History', :controller => 'course_history_tables', :action => 'index' %> <br />

<!--<%= link_to 'New Course', new_course_path, id: 'new_link', remote: true %>-->