<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Spring Technologies Preschool</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="js/jquery-1.3.2.min.js" type="text/javascript"></script>
  <script src="js/cufon-yui.js" type="text/javascript"></script>
  <script src="js/cufon-replace.js" type="text/javascript"></script>
  <script src="js/cufon-replace.js" type="text/javascript"></script>
  <script src="js/Bauhaus_Md_BT_400.font.js" type="text/javascript"></script>
  <!--[if lt IE 7]><link href="style_ie.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body id="page1">
<div id="main">
  <!-- header -->
  <div id="header">
    <div class="logo"><%= image_tag "logo2.gif" %></div>
  </div>

  <!-- content -->
<div id="content">
  <div class="indent1">
    <div class="indent">
    </div>
    <ul class="list">
      <li><%= yield %></li>
    </ul>
  </div>
</div>
  <!-- footer -->
  <div id="footer">
  <div class="indent">
    <div class="fleft">Copyright - Spring Technologies</div>
    <div class="fright">Designed by: <a href="http://www.templates.com"><%= image_tag "templates-logo.gif" %></a>&nbsp; Your Provider of <a href="http://www.templates.com">Website Templates</a></div>
  </div>
  </div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<div align=center>This page was brought to you by Group 9 for CIS 4339, Fall 2013</div>
</body>
</html>
